<h1>登録情報</h1>

<%= form_for current_user do |f| %>
<table>
  <th>
    <tr>プロフィール</tr>
  </th>


<div class="field">
  <%= f.label :画像をアップロード %><br>
  <%= f.file_field :avatar %>
</div>

<div class="form-group">
  <%= f.submit "更新" %>
</div>

<% end %>
