<h1>Profile information</h1>

<%= form_tag("/users", method: :patch) do %>

<div class="field">
  <input type="file" name="image">

</div>

<div class="field">
  <textarea name="profile"></textarea>
</div>

<div class="form-group">
  <input type="submit" value="保存">
</div>
<% end %>
