<aside class="sub">
<section class="lfe-menu">
  <ul class="side-menu">
    <li>Mypage
    </li>
    <li>Purchase history
    </li>
    <li><a href="/items">Your items</a>
    </li>
    <li>Your review
    </li>
  </ul>
</section>
</aside>

<div class="grid">
<h1>Profile information</h1>

<%= form_tag("/users", method: :patch) do %>

<div class="field">
  <input type="file" name="image">

</div>

<div class="field">
  <textarea name="profile">profile</textarea>
</div>

<div class="form-group">
  <input type="submit" value="Save">
</div>
<% end %>
</div>
