.button {
  cursor: pointer;
  padding: 8px 20px;
  color: #FFFFFF;
  background-color: #0099e8;
  font-size: 12px;
  border: 1px solid #0099e8;
  border-radius: 4px;
  text-decoration: none;
}

.user_page_button{
  cursor: pointer;
  padding: 8px 105px;
  color: #FFFFFF;
  background-color: #0099e8;
  font-size: 16px;
  border: 1px solid #0099e8;
  border-radius: 4px;
  text-decoration: none;
  line-height: 40px;
  margin:0  auto;

}


.login_button{
  cursor: pointer;
  padding: 4px 105px;
  color: #FFFFFF;
  background-color: #ea352d;
  font-size: 16px;
  border: 1px solid #ea352d;
  border-radius: 4px;
  text-decoration: none;
  line-height: 40px;
  margin:0 auto;

}

.save_button{
  cursor: pointer;
  padding: 4px 120px;
  color: #FFFFFF;
  background-color: #ea352d;
  font-size: 16px;
  border: 1px solid #ea352d;
  border-radius: 4px;
  text-decoration: none;
  line-height: 40px;
  margin:0 auto;
  text-align: center;

}

.sell_button{
  cursor: pointer;
  padding: 4px 90px;
  color: #FFFFFF;
  background-color: #ea352d;
  font-size: 16px;
  border: 1px solid #ea352d;
  border-radius: 4px;
  text-decoration: none;
  line-height: 40px;
  margin:0 auto;
  text-align: center;

}

.edit_button{
  cursor: pointer;
  padding: 10px 100px;
  color: #FFFFFF;
  background-color: #ea352d;
  font-size: 16px;
  border: 1px solid #ea352d;
  border-radius: 4px;
  text-decoration: none;
  line-height: 40px;
  margin:0 auto;
  text-align: center;

}

.delete_button{
  cursor: pointer;
  padding: 10px 73px;
  color: black;
  background-color: #ccc;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  line-height: 40px;
  margin:0 auto;
  text-align: center;

}

.arrow{
position: relative;
display: inline-block;
padding: 0 0 0 16px;
color: #000;
vertical-align: middle;
text-decoration: none;
font-size: 15px;
}
.arrow::before,
.arrow::after{
position: absolute;
top: 0;
bottom: 0;
left: 0;
margin: auto;
content: "";
vertical-align: middle;
}

.icon-arrow-right::before{
left: 3px;
width: 8px;
height: 8px;
border-top: 2px solid black;
border-right: 2px solid black;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
