a{
  text-decoration: none;
  color:black;
}

.mypage_container{
  width:100%;

}

.mypage_content{
  width:100%;
  height: 100%;
}

.mypage_user_icon{
  height: 20%;
  margin:10% 0 0 0;
  padding: 20px ;
  text-align: center;
  background-image: url(/assets/user_background.jpg);

}

.user_icon{
  margin:40px 0 40px 0;
  width:40px;
  height:40px;
  display: inline-block;
  text-decoration: none;
  width: 70px;
  height: 70px;
  line-height: 100px;
  border-radius: 50%;
  overflow: hidden;
  transition: .4s;
  object-fit: cover;

}


.mypage_profile {
  width: 100%;
  height:100%;
  background-color: white;
}
.mypage_profile ul { /* .tab-menuの中のulに対する記述 */
    padding: 0;
    text-align: center;
    width:100%;
  }

.mypage_profile li { /* .tab-menuの中のli */
    display: inline-block;
    width: 40%;
    height: 60px;
    padding: 10px 10px 5px;
    cursor: pointer;
    background-color: #eee;
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 60px;
  }

.mypage_profile li.selected {/* .tab-menuの中のliの内、.selectedが与えられているものに対する記述 */
      background-color: white;
      color: black;
      border-top:2px solid #fa4664;
    }

.side_menu{
  background-color: white;
  margin: 10% 0 0 0;
}

.nav_list{
  display:block;
  width:100%;
  padding:16px 0 ;
  text-decoration: none;
  margin:10px 0 10px ;
  font-size:16px;
  border-bottom: 1px solid #ccc;
}

.mypage_nav_list li{
  padding:0 0 0 16px;
}


.mypage_content{
  height:100%;

}
.mypage_body{
  height: 30%;

}
.mypage_item_list li {
  margin:25px 20px 25px 30px;
  overflow: hidden;
}

.mypage_item_image{
  width:48px;
  height:48px;
  float:left;

}

.mypage_item_body{
  padding:0 0 0 80px;
  font-size:12px;
}

.mypage_item_list i{
  float:right;
}

.mypage_item_list li{
    position:relative;


}
.mypage_item_price{
  position: absolute;
  bottom:0;

}


