<div class="login_panel">
<div class="loin_no_account">
<h3>Successfully deleted your item </h3>
<%= link_to "go back", "/users/#{current_user.id}", method: :get,class:"save_button" %>
</div>
</div>

