<aside class="sub">
<section class="lfe-menu">
  <ul class="side-menu">
    <li>Mypage
    </li>
    <li>Purchase history
    </li>
    <li><a href="/items">Your items</a>
    </li>
    <li>Your review
    </li>
  </ul>
</section>
</aside>

<div class="contents">
    <table>
      <thead>
        <tr>title
        </tr>
        <tr>price
        </tr>
      <tbody>
        <% current_user.items.each do |item| %>
        <tr>
          <td>
            <a href="/items/"><%= item.title %>
          </td>
          <td>
            <%= item.price %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
