  <div class="login_no_account">
    <h2>All listed items</h2>
  </div>

    <div class="mypage_content">
    <div class="mypage_body">
    <ul class="mypage_item_list">
    <% current_user.items.each do |item| %>
      <li>
        <a href="/items/<%= item.id %>">
          <%= image_tag "user_background.jpg", class:"mypage_item_image" %>
          <div class="mypage_item_body">
            <%= item.title %><br>
            <div class="mypage_item_price">
            ¥ <%= item.price %>
          </div>
          </div>
          <i class="arrow icon-arrow-right"></i>
        </a>
      </li>
    <% end %>

    </ul>
  </div>
  </div>
