<div class="contents">
<% if signed_in? %>
<div>
  <ul>
    <% @items.each do |item| %>
    <li>
      <%= item.title %>
  </li>
  <% end %>
</ul>
</div>

<% else %>

<div>
<% @items.each do |item|  %>
<p><%= item.title %></p>
<% end %>
<% end %>

<%= link_to "Upload items", new_item_path, method: :get %>
</div>
</div>
