  <% @items.each do |item| %>

<div class="box">
    <a href="/items/<%= item.id %>" >
    <div class="box_image">
      <%= image_tag "#{item.image }", class:"item_box_image" %>
    </div>
  </a>
    <div class="box_body">
    <h3 class="box_items_name">  <%= item.title %></h3>
       <div class="box_price">
        ¥ <%= item.price %>
       </div>
     </div>
   </div>
<% end %>
