    <div class="header_image">
      <h1>Do you want special Japanese anime goods? </h1>

    </div>
    <div class="main_page_service">
      What is Otacart?

      1.Buy

      2.Sell

      3.Community
      <%= link_to "facebook login", user_facebook_omniauth_authorize_path %>

    </div>

  <h1 class="index">Pick up items</h1>

<div class="cover">
  <%= render partial: "index" %>
</div>

</div>

