    <div class="header_image">
      <h1>Best Marketplace to Find Anime Goods </h1>

    </div>
    <div class="main_page_service">

      <h1>What is Otacart?</h1>
      <div class="explanation">
      1.Buy from Japan
      <%= image_tag "top_buy.png", class: "top_image" %><br>
      <p class="explanation_text">
      Do you need special anime goods? <br>
      Personal shoppers sell special Japanese anime goods from Japan.
    </p>

    </div>
      <div class="explanation">
      2.Sell from Japan
      <%= image_tag "top_sell.png", class:"top_image" %><br>
      <p class="explanation_text">
      Do you live in Japan? <br>
      Then let's sell anime goods available only in Japan.
    </p>
    </div>
    <div class="explanation">
      3.Request to Japan

    <%= link_to "Request items", class:"save_button" %>
    </div>

    </div>

  <h1 class="index">Pick up items</h1>

<div class="cover">
  <%= render partial: "index" %>
</div>

</div>

