    <div class="header_image">
      <h1>Best Marketplace to Find Anime Goods </h1>

    </div>
    <div class="main_page_service">

      <h1>What is Otacart?</h1>
      <div class="explanation">
      1.Buy from Japan

    </div>
      <div class="explanation">
      2.Sell from Japan
    </div>
    <div class="explanation">
      3.Request to Japan
    </div>

    </div>

  <h1 class="index">Pick up items</h1>

<div class="cover">
  <%= render partial: "index" %>
</div>

</div>

