<div id="sample1-1">
  <ul class="mod-tab-nav">
    <li><a href="#sample1-1-1">タブ1</a></li>
    <li><a href="#sample1-1-2">タブ2</a></li>
    <li><a href="#sample1-1-3">タブ3</a></li>
  </ul>

  <div class="mod-tab-contents">
    <div id="sample1-1-1">タブ1の中身</p></div>
    <div id="sample1-1-2">タブ2の中身</p></div>
    <div id="sample1-1-3">タブ3の中身</p></div>
  </div>
</div>
