/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

@import url('configs/reset.css');
@import url('configs/header.css');
@import url('configs/button.css');
@import url('configs/main_page.css');
@import url('configs/user_page.css');
@import url('configs/mypage.css');
@import url('configs/upload_page.css');
@import url('configs/listing_items_page.css');
@import url('configs/logout_page.css');
@import url('configs/tab_change.css');
@import url('configs/tagify-style.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
  font-family: 'Roboto', sans-serif;

}


ul{
  list-style:none;

}


.fixed{
position:fixed;
right:-10px;
bottom:-10px;
}

.upload_items_image{
  width:40px;
  height:40px;
}

.footer{
  text-align: center;
  padding: 10px 0;
  font-size: 12px;

}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.all
 *= require_self
 */
