/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

@import url('configs/reset.css');
@import url('configs/header.css');
@import url('configs/button.css');
@import url('configs/main_page.css');
@import url('configs/user_page.css');
@import url('configs/mypage.css');
@import url('configs/upload_page.css');
@import url('configs/listing_items_page.css');
@import url('configs/logout_page.css');


html, body{
  font-family: 'Roboto', sans-serif;


}


ul{
  list-style:none;

}

.grid{
  background-color:red;
  height:100%;
  width:200px;
  margin:auto;
}

aside{
  float:left;
  width:200px;
  height:500px;
  margin:5% 5% 7% 7%;
}

.side-menu{
  width:80%;
  margin: 20px auto 0;
  padding:10px 20px 15px 20px;
  border:solid 1px black;

}

.side-menu li{
    font-size:15px;
    padding:10px 0 10px 0;
    border-bottom:solid 1px black;
  }


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
